.navbar {
    display: flex;
    justify-content: flex-start;
  }
  
.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.navbar-list li {
    margin-right: 10px;
  }
  
.navbar-list li:last-child {
    margin-right: 0;
  }

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.login-container h1,
.login-container input,
.login-container button {
  margin: 10px;
}

.login-container input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}

.login-container button {
  width: 150px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: blue;
}

button {
  width: 150px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #004d7a;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}